{% extends 'layout.html' %}   
{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to BlogSpark: the AI-Powered Blog Post Generator App!</h1>
        <p class="lead">This application is built on the Python Flask framework.</p>
    </div>

    <hr/>

    <div class="jumbotron text-center">
        <h2>Generate Blog Post</h2>
        <p class="lead">Click the button to generate a blog post based on the keyword you enter.</p>
        <!-- <a href="/generate?keyword=test" >Generate</a> -->
         <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter keyword</span>
            <input type="text" id="keyword" class="form-control" aria-label="Generate Text" aria-describedby="inputGroup-sizing-default">
        </div>
        <input type="button" id="generateBtn" value="Generate" class="btn btn-primary"/>
        <script>
            document.getElementById('generateBtn').addEventListener('click', function() {
                const keyword = document.getElementById('keyword').value;
                window.location.href = `/generate?keyword=${encodeURIComponent(keyword)}`;
            });
        </script>
    </div>
{% endblock %}