{% extends 'layout.html' %}   
{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to KeywordGenAI!</h1>
        <p class="lead">The AI-Powered Blog Post Generator App!</p>
    </div>

    <hr class="border border-primary border-3 opacity-75">

    <div class="card text-bg-secondary mb-3 mx-auto text-center">
        <div class="card-header">Scheduler Status</div>
        <div class="card-body">
            <h5 class="card-title">{{ statusMessage }}</h5>
            <a href="/" class="btn btn-primary justify-center">Home</a>
        </div>
    </div>    

{% endblock %}